<h1>Editing flickr_search</h1>

<% form_for(@flickr_search) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :completed %><br />
    <%= f.check_box :completed %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @flickr_search %> |
<%= link_to 'Back', flickr_searches_path %>
