<h1>Download from Flickr</h1>

<% form_for(@flickr_search) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Search" %><br />
    <%= f.text_field :search_parameter %>
  </p>
  <p>
    <%= f.label "Type" %><br />
    <%= f.select :search_type, %w{tags} %>
  </p>
  <p>
    <%= f.label "From page" %><br />
    <%= f.text_field :start_page, {:size => 2} %>
  </p>
  <p>
    <%= f.label "To" %><br />
    <%= f.text_field :end_page, {:size => 2} %>
  </p>
  <p>
    <%= f.submit "Search &amp; Download" %>
  </p>
<% end %>

<%= link_to 'Cancel', flickr_searches_path %>
