<h2 class="title"><%=h @flickr_search.search_parameter %></h2>
<% unless @flickr_search.completed %>
<p>
  <b>Currently on:</b><br/>
  page: <%= @flickr_search.relative_current_page %><br />
  photo: <%= @flickr_search.current_photo %> of <%= @flickr_search.photos_per_page || 0%>
</p>
<% end %>
<ul>
  <li><b>Search type:</b> <%=h @flickr_search.search_type %> </li>
  <li><b>Start page:</b> <%=h @flickr_search.start_page %></li>
  <li><b>End page:</b> <%=h @flickr_search.end_page %></li>
</ul>


<%= link_to 'Back', flickr_searches_path %>

<br />
<br />

<%= link_to 'Destroy', @flickr_search, :confirm => 'Are you sure?', :method => :delete %>