<h2 class="title"><%=h @flickr_search.search_parameter %></h2>
<ul>
  <li><b>Search type:</b> <%=h @flickr_search.search_type %> </li>
  <li><b>Start page:</b> <%=h @flickr_search.start_page %></li>
  <li><b>End page:</b> <%=h @flickr_search.end_page %></li>
</ul>


<%= link_to 'Back', flickr_searches_path %>
