<h2 class="photo-title">
  <%=h @photo.flickr_id %>
</h2>

<div class="photo">
  <%= image_tag formatted_photo_path(@photo, :jpg) %>
</div>

<h2>Tags:</h2>
<div id="tag-box">
  <% @photo.tag_list.each do |tag| %>
    <% div_for(tag, :class => "tag") do %>
      <%=h tag %>
    <% end %>
  <% end %>
  <div class="clearbox"></div>
</div>

<h2>Title:</h2>
<%=h @photo.title %>

<h2>Description:</h2>
<%=h @photo.description %>


<h2>Other Information</h2>
<table>
  <tr>
    <td>Taken at:</td>
    <td><%=h @photo.taken_at %></td>
  </tr>
  <tr>
    <td>License:</td>
    <td><%=h @photo.license %></td>
  </tr>
  <tr>
    <td>Width:</td>
    <td> <%=h @photo.image_width %></td>
  </tr>
  <tr>
    <td>Height:</td>
    <td><%=h @photo.image_height %></td>
  </tr>
  <tr>
    <td>Original Url:</td>
    <td><%= link_to "Click Here", @photo.flickr_url %></td>
  </tr>
</table>

<p>
  <b>Flickr search:</b>
  <%=h @photo.flickr_search_id %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
